<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sansec_shield>
            <general>
                <enabled>1</enabled>
                <rules_url>https://shield.sansec.io/v1/shield/rules</rules_url>

                <report_enabled>1</report_enabled>
                <report_url>https://shield.sansec.io/v1/shield/report</report_url>
            </general>
        </sansec_shield>
    </default>
</config>
